*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgGris{
    background-color: rgb(53, 58, 64); 
}

.alineaHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
}

.img_logo{
    height:15%;
    width: 15%;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    left: 15%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
    text-align: right;
    align-content: center;
}

.min-50{
    position: absolute;
    right: 0;
}
  
.tituloCards{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.tarjetasBoot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justCard{
    width: 75%;
}

.contenedorCard{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.amarilloNegro{
    color: black;
    background-color: rgb(254,193,6);
    border-radius: 3px;
    padding: 0.2rem;
}

.celesteBlanco{
    color: white;
    background-color: rgb(22,161,182);
    border-radius: 3px;
    padding: 0.2rem;    
}

.grisBlanco{
    color: white;
    background-color: rgb(107,118,124);
    border-radius: 3px;
    padding: 0.2rem;    
}

.rojoBlanco{
    color: white;
    background-color: rgb(220,53,70);
    border-radius: 3px;
    padding: 0.2rem;    
}

.cardHorizontal {
    padding-top: 1.5rem;
}

.textoDerecho{
    background-color: #343333;
    font-size: 0.8rem;
}

.botonTransparente{
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 0.3rem;
    text-decoration: none;
}

.sectionForm{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alineaForm{
    display: flex;
    justify-content: center;
}

.alineaTextA{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnEstilo{
    border: none;
    background-color: rgb(150,201,62);
}

.setFooter{
    margin-top: 1.5rem;
    background-color: rgb(30,81,112);
}

.cards {
    padding-top: 1.5rem;
}

.tituloForm{
    padding-top: 1.5rem;
    text-align: center;
}

.contenedorForm{
    background-color: red;
    width: 100%;
}

.contenedorFlexF{
    padding-top: 1rem;
    display: flex;
}

.formPlantilla{
    width: 53%;
}

.noResize{
    resize: none;
    vertical-align: middle;
}

.btnForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alertPago{
    width: 100%;
}